
#map{
    height:800px;
    width:800px;

}

input.chk-btn{
    z-index:100;
    top:10px;
    width:20px;
    height:10px;
}

input.chk-btn + label{
    background: red;
    cursor: pointer;
    width:20px;
    height:10px;
}

input.chk-btn:not(.checked)+label:hover{
    box-shadow: 0 1px 3px;
}

input.chk-btn+label:active, input.chk-btn:checked+label{
    box-shadow: 0 0 3px inset;
    background: #faffb7;
}

#buttons{
    z-index: 200;
    width:20px;
    height:10px;
    left:200px;
}

#schoolDiv{
    top:180px;
}

#foodDiv{
    top:200px;
}

#transportDiv{
    top:220px;
}
