
#map{
    height:800px;
    width:800px;

}

input.chk-btn{
    width:20px;
    height:10px;
    display: none;
}

input.chk-btn + label{
    margin: auto;
    position: fixed;
    z-index:100;
    background: red;
    cursor: pointer;
    width:60px;
    height:10px;
    padding:10px;
    border:1px solid black;

}

input#school + label[for=school]{
    top: 250px;

}

input#food + label[for=food]{
    top: 300px;
}

input#transport + label[for=transport]{
    top: 350px;
}

input.chk-btn:not(.checked)+label:hover{
    box-shadow: 0 1px 3px;
}

input.chk-btn+label:active, input.chk-btn:checked+label{
    box-shadow: 0 0 3px inset;
    background: #faffb7;
}

